@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-grey: #303841;
}

html {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-gray);
}

footer {
    background-color: var(--main-grey);
}

.anim {
    color: var(--main-grey);
    font-weight: bold;
}

.project:hover span {
    color: var(--main-red);
    transition: color 1s;
}

.navlink {
    padding: 1em 1.3em 0em 1.3em;
    width: 4em;
    height: 2.29em;
    text-align: center;
    cursor: pointer;
}

.bookmarks :hover {
    background-color: var(--main-blue);
    transition: background-color 0.5s;
}

.bookmarks {
    text-decoration: none;
    color: var(--main-white);
    font-size: 17px;
}

.project {
    height: 300px;
    position: relative;
    border: 0.3px solid var(--main-grey);
}

.project-title {
    box-sizing: inherit;
    background-color: var(--main-grey);
    text-align: center;
    height: 40px;
    padding-top: 20px;
    color: var(--main-white);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.btn {
    cursor: pointer;
    height: 50px;
    min-width: 100px;
    background-color: var(--main-grey);
    color: var(--main-white);
    border: none;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
}

.outer-link {
    margin-bottom: 2rem;
    color: var(--main-white);
    line-height: 20px;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.outer-link:hover {
    transform: translateY(5px);
    transition: transform 0.3s ease-out;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: var(--main-white);
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3.5em;
    
    z-index: 100;
    background-color: var(--main-red);
}

#navbar :nth-child(3) {
    margin-right: 20px;
}

#greeting {
    font-size: 5rem;
    margin-bottom: 0;
}

#subhead {
    color: var(--main-red);
    font-weight: lighter;
    font-style: italic;
    font-size: 2.5rem;
    margin-top: 1rem;
}

#projects {
    background-color: var(--main-blue);
    padding: 3em 4em;

    display: grid;
    gap: 1rem;
    grid-template-areas:
    'header header header'
    'document landing portfolio'
    'survey tribute tribute'
    'button button button';
}

@media (max-width: 900px) {
    #projects {
        grid-template-areas:
        'header header'
        'document landing'
        'portfolio survey'
        'tribute tribute'
        'button button';
    }
} 

@media (max-width: 768px) {
    #projects {
        grid-template-areas:
        'header'
        'document' 
        'landing'
        'portfolio' 
        'survey'
        'tribute'
        'button';
    }
}

@media screen and (max-device-width: 500px) {
    .project-title {
        font-size: 20px;
    }

    .outer-link {
        font-size: 30px;
    }

    #btn {
        width: 100%;
    }

    .btn {
        width: 100%;
        font-size: 20px;
    }

    #projects {
        grid-template-areas:
        'header'
        'document' 
        'landing'
        'portfolio' 
        'survey'
        'tribute'
        'button';
    }

    #navbar {
        height: 6em;
        gap: 1em;
    }

    .navlink {
        font-size: 1.73em;
    }

}

#projects :nth-child(1) {
    grid-area: header;
}

#projects :nth-child(2) {
    grid-area: document;
}

#projects :nth-child(3) {
    grid-area: landing;
}

#projects :nth-child(4) {
    grid-area: portfolio;
}

#projects :nth-child(5) {
    grid-area: survey;
}

#projects :nth-child(6) {
    grid-area: tribute;
}

#btn {
    grid-area: button;
    max-width: 300px;
    margin: 0 auto;
}

.btn:hover {
    background-color: var(--main-red);
    transition: background-color 500ms ease-out;
}

#projects-head {
    text-align: center;
    color: var(--main-white);
    border-bottom: 1px solid var(--main-white);
    margin: 0 auto;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

#document {
    background-image: url(img/docpage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#landing {
    background-image: url(img/landing.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio {
    background-image: url(img/previous_portfolio.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#survey {
    background-image: url(img/survey.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#tribute {
    background-image: url(img/tribute.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 800px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#letswork {
    margin: 0;
    color: var(--main-white);
    font-size: 3rem;
    text-align: center;
    padding: 50px;
    padding-bottom: 20px;
    font-style: italic;
}

#links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

